*.class
/bin
/obj
/Debug

*.cache

*.db

*.dll

*.pdb

*.exe


C# & .NET/C#_Ex2/Solution/Reversi/Reversi/obj/Debug/Reversi.csproj.FileListAbsolute.txt

C# & .NET/C#_Ex2/Solution/Reversi/Reversi/bin/Debug/Reversi.vshost.exe.manifest
